/* ====================
// btn__social-label
// ==================== */

.btn__social-label {
    padding: 0;
    text-align: center;
    transition: all .3s ease-in-out;
}

@media screen and (prefers-reduced-motion:reduce) {
    .btn__social-label {
        transition: none
    }
}
.btn__social-label {
    &.btn {
       
    }
    &.btn--round i {
        border-top-left-radius: .25rem;
        border-bottom-left-radius: .25rem;
    }
    .social-label {
        padding: .5rem .75rem;
        color: #fff;
    }
    i {
        float: none;
        color: #fff;
        margin-right: 0;
        padding: .5rem .75rem;
        border-right: 1px solid;
        transition: all .3s ease-in-out;
    }
    &.btn--facebook {
        background-color: #3b5998;
        i {
            border-right-color: #314a7e; background-color: #314a7e;
        }
        &:hover, &:focus {
            background-color: #466ab5;
            i {
                background-color: #3c5b9c; border-right-color: #3c5b9c;
            }
        }
        
    }
    &.btn--googlep {
        background-color: #dd4b39;
        i {
            border-right-color: #cf3624; background-color: #cf3624;
        }
        &:hover, &:focus {
             background-color: #e36b5c;
             i { 
                background-color: #de4f3d; border-right-color: #de4f3d;
            }
        }
    }
    &.btn--instagram {
        background: radial-gradient(circle farthest-corner at 35% 90%,#fec564,transparent 50%),radial-gradient(circle farthest-corner at 0 140%,#fec564,transparent 50%),radial-gradient(ellipse farthest-corner at 0 -25%,#5258cf,transparent 50%),radial-gradient(ellipse farthest-corner at 20% -50%,#5258cf,transparent 50%),radial-gradient(ellipse farthest-corner at 100% 0,#893dc2,transparent 50%),radial-gradient(ellipse farthest-corner at 60% -20%,#893dc2,transparent 50%),radial-gradient(ellipse farthest-corner at 100% 100%,#d9317a,transparent),linear-gradient(#6559ca,#bc318f 30%,#e33f5f 50%,#f77638 70%,#fec66d 100%);
        i {
            border: 0; padding-right: 0;
        }
        span {
            padding-left: .75rem;
        }
        &:hover, &:focus {
            opacity: .8;
        }
    }
    &.btn--linkedin {
        background-color: #0077b5;
        i {
            border-right-color: #006091; background-color: #006091;
        }
        &:hover, &:focus {
             background-color: #0092de;
             i { background-color: #007aba; border-right-color: #007aba;}
        }
    }
    &.btn--pinterest {
        background-color: #bd081c;
        i {
            border-right-color: #9b0717; background-color: #9b0717;
        }
        &:hover, &:focus {
            background-color: #e40a22;
            i {
                background-color: #c2081d; border-right-color: #c2081d;
            }
        }
    }
    &.btn--vk {
        background-color: #45668e;
        i {
            border-right-color: #395576; background-color: #395576;
        }
        &:hover, &:focus {
            background-color: #527aa9;
            i {
                background-color: #476891; border-right-color: #476891;
            }
        }
    }
    &.btn--twitter {
        background-color: #00aced;
        i {
            border-right-color: #0092c9; background-color: #0092c9;
        }
        &:hover, &:focus {
            background-color: #17bfff;
            i {
                background-color: #00b0f2; border-right-color: #00b0f2;
            }
        }
    }
    &.btn--youtube {
       background-color: #cd201f;
       i {
            border-right-color: #ae1b1a; background-color: #ae1b1a;
       }
        &:hover, &:focus {
             background-color: #e03534;
             i {
                background-color: #d12120; border-right-color: #d12120;
             }
        }
    }
    &.btn--vimeo {
        background-color: #1ab7ea;
        i {
            border-right-color: #13a0cd; background-color: #13a0cd;
        }
        &:hover, &:focus {
             background-color: #3fc3ed;
             i {
                background-color: #1fb8ea; border-right-color: #1fb8ea;
             }
        }
    }
}
