/* ====================
// buttons__social--outline
// ==================== */

.btn__social--outline {
    width: 40px;
    height: 40px;
    background-color: transparent;
    padding: 0;
    text-align: center;
    transition: all .3s ease-in-out;
}

@media screen and (prefers-reduced-motion:reduce) {
    .btn__social--outline {
        transition: none
    }
}
.btn__social--outline {
    &.btn {
       // padding: 0; 
    }
    i {
        float: none;
        margin-right: 0;
        // padding: 0;
    }
    &.btn--facebook {
        border: 1px solid #3b5998; color: #3b5998;
        &:hover, &:focus {
            background-color: #3b5998; border: 1px solid #3b5998; color: #fff;
        }
    }
    &.btn--googlep {
        border: 1px solid #dd4b39; color: #dd4b39;
        &:hover, &:focus {
            background-color: #dd4b39; border: 1px solid #dd4b39; color: #fff;
        }
    }
    &.btn--instagram {
        border: 1px solid #484848; color: #484848;
        &:hover, &:focus {
            background: radial-gradient(circle farthest-corner at 35% 90%,#fec564,transparent 50%),radial-gradient(circle farthest-corner at 0 140%,#fec564,transparent 50%),radial-gradient(ellipse farthest-corner at 0 -25%,#5258cf,transparent 50%),radial-gradient(ellipse farthest-corner at 20% -50%,#5258cf,transparent 50%),radial-gradient(ellipse farthest-corner at 100% 0,#893dc2,transparent 50%),radial-gradient(ellipse farthest-corner at 60% -20%,#893dc2,transparent 50%),radial-gradient(ellipse farthest-corner at 100% 100%,#d9317a,transparent),linear-gradient(#6559ca,#bc318f 30%,#e33f5f 50%,#f77638 70%,#fec66d 100%);
    border: 0; color: #fff;
        }
    }
    &.btn--linkedin {
        border: 1px solid #0077b5; color: #0077b5;
        &:hover, &:focus {
             background-color: #0077b5; border: 1px solid #0077b5; color: #fff;
        }
    }
    &.btn--pinterest {
        border: 1px solid #bd081c; color: #bd081c;
        &:hover, &:focus {
            background-color: #bd081c; border: 1px solid #bd081c; color: #fff;
        }
    }
    &.btn--vk {
        border: 1px solid #45668e; color: #45668e;
        &:hover, &:focus {
            background-color: #45668e; border: 1px solid #45668e; color: #fff;
        }
    }
    &.btn--twitter {
        border: 1px solid #00aced; color: #00aced;
        &:hover, &:focus {
            background-color: #00aced; border: 1px solid #00aced; color: #fff;
        }
    }
    &.btn--youtube {
        border: 1px solid #cd201f; color: #cd201f;
        &:hover, &:focus {
             background-color: #cd201f; border: 1px solid #cd201f; color: #fff;
        }
    }
    &.btn--vimeo {
        border: 1px solid #1ab7ea; color: #1ab7ea;
        &:hover, &:focus {
             bbackground-color: #1ab7ea; border: 1px solid #1ab7ea; color: #fff;
        }
    }
}
