.chart-box {
    padding: 20px;
    border: 1px solid #eaeaea;
    box-shadow: 0px 7px 62px -17px rgba(0, 0, 0, 0.3);
    h1 {
        font-size: 35px;
        font-weight: 300;
        margin-bottom: 0;
        color: rgba(0, 0, 0, 0.72);
    }
    h3 {
        color: #a5a5a5;
        font-size: 14px;
        margin-bottom: 0;
        font-weight: 400;
    }
}