/* ====================
// utilities
// ==================== */

.example__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0
}

.abs {
	@include absCenter;
}

.h--120 {
	height: 120px;
	line-height: 120px;
}

// Help Class
.w--100 {
	width: 100%;
}

.mt-50 {
	margin-top: 50px;
}

.mt-30 {
	margin-top: 30px;
}

.mb-30 {
	margin-bottom: 30px;
}

.display--block {
	display: block;
}

.hide {
	display: none;
}

.card--of {
	.card__body {
		overflow: visible;	
	}
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}