/* ====================
// table
// ==================== */
table, .table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 0;
    color: #484848;

    &--bordered {
	    border: 1px solid #e2e2e2;
	}
	&--striped {

	}
	&--responsive {
		width: 100%;
    	overflow-x: auto;
    	&.table--bordered {
    		border: 0;
    	}
	}
}


.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 0;
    color: #484848
}

.table th,.table td {
    padding: .5rem;
    vertical-align: middle;
    border-top: 1px solid #e2e2e2;
    font-size: .875rem
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 1px solid #e2e2e2;
    font-size: .875rem;
    font-weight: 600;
    text-transform: capitalize
}

.table tbody+tbody {
    border-top: 1px solid #e2e2e2
}

.table--sm th,.table--sm td {
    padding: .25rem .5rem
}

.table--bordered {
    border: 1px solid #e2e2e2;
}

.table--bordered th,.table--bordered td {
    border: 1px solid #e2e2e2
}

.table--bordered thead th,.table--bordered thead td {
    border-bottom-width: 1px solid #e2e2e2
}

.table--striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0,0,0,0.05)
}

.table--hover tbody tr {
    transition: all .3s ease-in-out
}

@media screen and (prefers-reduced-motion:reduce) {
    .table--hover tbody tr {
        transition: none
    }
}

.table--hover tbody tr:hover {
    background-color: rgba(0,0,0,0.075)
}

.thead--default thead th {
    background-color: #f2f2f2
}

.table--responsive {
    width: 100%;
    overflow-x: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar
}

@media(max-width: 575.98px) {
    .table--responsive {
        display:block
    }
}

.table--responsive.table--bordered {
    /* border:0; */
}

.table-success,.table-success>th,.table-success>td {
    background-color: #dff0d8
}

.table-hover .table-success:hover {
    background-color: #d0e9c6
}

.table-hover .table-success:hover>td,.table-hover .table-success:hover>th {
    background-color: #d0e9c6
}

.table-info,.table-info>th,.table-info>td {
    background-color: #d9edf7
}

.table-hover .table-info:hover {
    background-color: #c4e3f3
}

.table-hover .table-info:hover>td,.table-hover .table-info:hover>th {
    background-color: #c4e3f3
}

.table-warning,.table-warning>th,.table-warning>td {
    background-color: #fcf8e3
}

.table-hover .table-warning:hover {
    background-color: #faf2cc
}

.table-hover .table-warning:hover>td,.table-hover .table-warning:hover>th {
    background-color: #faf2cc
}

.table-danger,.table-danger>th,.table-danger>td {
    background-color: #f2dede
}

.table-hover .table-danger:hover {
    background-color: #ebcccc
}

.table-hover .table-danger:hover>td,.table-hover .table-danger:hover>th {
    background-color: #ebcccc
}

.table-active,.table-active>th,.table-active>td {
    background-color: rgba(0,0,0,0.075)
}

.table-hover .table-active:hover {
    background-color: rgba(0,0,0,0.075)
}

.table-hover .table-active:hover>td,.table-hover .table-active:hover>th {
    background-color: rgba(0,0,0,0.075)
}

.table--inverse {
    color: rgba(255,255,255,0.55);
    background-color: #212427
}

.table--inverse th,.table--inverse td,.table--inverse thead th {
    border-color: #656565
}

.table--inverse.table--bordered {
    border: 0
}

.table--inverse.table--striped tbody tr:nth-of-type(2n+1) {
    background-color: #151719
}

.table--inverse.table--hover tbody tr:hover {
    background-color: #2d3135
}

.thead--inverse thead th {
    color: rgba(255,255,255,0.55);
    background-color: #212427
}